version: "3.9"

services:
  exporter:
    build:
      context: ./exporter
    container_name: obs-node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    volumes:
      - /:/host:ro,rslave
      - ./exporter/textfile:/etc/node-exporter/textfile
    environment:
      - NODE_EXPORTER_FLAGS=

  ping-exporter:
    image: czerwonk/ping_exporter:latest
    container_name: obs-ping-exporter
    restart: unless-stopped
    cap_add:
      - NET_RAW
    environment:
      - CONFIG_FILE=/config/ping_exporter.yml
    ports:
      - "9427:9427"
    volumes:
      - ./ping-exporter/ping_exporter.yml:/config/ping_exporter.yml:ro
    depends_on:
      - exporter

  prometheus:
    build:
      context: ./prometheus
    image: obs-prometheus
    container_name: obs-prometheus
    restart: unless-stopped
    depends_on:
      - exporter
      - ping-exporter
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus

  grafana:
    build:
      context: ./grafana
    image: obs-grafana
    container_name: obs-grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=DevJunior
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro

  database:
    image: postgres:13
    container_name: obs-database
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: DevJunior
      POSTGRES_DB: app_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" 

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: obs-postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://admin:DevJunior@database:5432/app_db?sslmode=disable"
    depends_on:
      - database

  load-generator:
    build: ./load-generator
    container_name: obs-load-generator
    environment:
      DB_HOST: database
    depends_on:
      - database

volumes:
  prometheus-data:
  grafana-data:
  db_data: